<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/static/favicon.gif" type="image/gif" />
        <title>Products</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://cdn.datatables.net/2.3.4/css/dataTables.dataTables.css" />
    </head>
    <body>
        <div class="container">
            <div id="app">
                <nav class="navbar navbar-expand-lg bg-success">
                    <div class="container">
                        <a class="navbar-brand" href="/templates/index.html">Inventory-App</a>
                        <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown"
                            aria-controls="navbarNavDropdown"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                        >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/templates/index.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/templates/purchases.html">Purchases</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/templates/sales.html">Sales</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a
                                        class="nav-link dropdown-toggle"
                                        href="#"
                                        role="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                    >
                                        More
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">FAQ</a></li>
                                        <li><a class="dropdown-item" href="#" @click.prevent="logout">LogOut</a></li>
                                        <li><a class="dropdown-item" href="#">Contact Us</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Button trigger modal -->
                <div class="d-flex justify-content-center my-3">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Add Product
                    </button>
                </div>

                <!-- Modal -->
                <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Product</h1>
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                ></button>
                            </div>
                            <div class="modal-body">
                                <form @submit.prevent="addProduct">
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Product Name</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="name"
                                            aria-describedby="emailHelp"
                                            v-model="newProduct.name"
                                            autocomplete="name"
                                        />
                                    </div>
                                    <div class="mb-3">
                                        <label for="buying_price" class="form-label">Buying Price</label>
                                        <input
                                            type="number"
                                            class="form-control"
                                            id="buying_price"
                                            v-model="newProduct.buying_price"
                                        />
                                    </div>
                                    <div class="mb-3">
                                        <label for="selling_price" class="form-label">Selling Price</label>
                                        <input
                                            type="number"
                                            class="form-control"
                                            id="selling_price"
                                            v-model="newProduct.selling_price"
                                        />
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <table
                    id="myTable"
                    class="table table-info table-hover table-sm table-bordered table-striped-columns"
                    style="width: 70%; margin: auto"
                >
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Product Name</th>
                            <th>Buying Price</th>
                            <th>Selling Price</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr v-for="product in products" :key="product['id']">
                            <td>{{product["id"]}}</td>
                            <td>{{product["name"]}}</td>
                            <td>{{product["buying_price"]}}</td>
                            <td>{{product["selling_price"]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <!-- <script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.16/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.8/axios.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script>
        <script>
            let table = new DataTable("#myTable");
        </script>
        <script>
            new Vue({
                el: "#app",
                data: {
                    products: [],
                    newProduct: {
                        name: "",
                        buying_price: "",
                        selling_price: "",
                    },
                },
                methods: {
                    async fetchProducts() {
                        try {
                            const headers = {headers: {Authorization: `Bearer ${localStorage.getItem("authToken")}`}};
                            const prods = await axios.get("http://127.0.0.1:5000/api/products", headers);
                            this.products = prods.data;
                        } catch (error) {
                            console.error("Error fetching products:", error);
                        }
                    },
                    async addProduct() {
                        try {
                            const headers = {headers: {Authorization: `Bearer ${localStorage.getItem("authToken")}`}};
                            // Normalize input for comparison
                            const inputName = this.newProduct.name.trim().toLowerCase();

                            // Check if product already exists
                            const exists = this.products.some(
                                (product) => product.name.trim().toLowerCase() === inputName
                            );

                            if (exists) {
                                alert("Cannot add product: product already exists.");
                                return;
                            }

                            const newProduct = {
                                name: this.newProduct.name,
                                buying_price: parseFloat(this.newProduct.buying_price),
                                selling_price: parseFloat(this.newProduct.selling_price),
                            };
                            await axios.post("http://127.0.0.1:5000/api/products", newProduct, headers);
                            alert("Product added successfully!");

                            // Reset form
                            this.newProduct = {name: "", buying_price: "", selling_price: ""};

                            // Refresh product list
                            this.fetchProducts();
                        } catch (error) {
                            console.error("Error adding product:", error);
                            alert("Failed to add product.");
                        }
                    },
                    logout() {
                        // Remove JWT token
                        localStorage.removeItem("authToken");

                        // Notify user
                        alert("Successfully logged out!");

                        // Redirect to login page
                        window.location.href = "login.html";
                    },
                },
                mounted() {
                    if (localStorage.getItem("authToken") !== null) {
                        //Call a method to fetch products directly
                        this.fetchProducts();
                        // If token exists, redirect to products page
                        // window.location.href = "products.html";
                    } else {
                        // console.log("No auth token found, stay on login page");
                        window.location.href = "login.html";
                    }
                },
            });
        </script>
    </body>
</html>
